.git
.github
.venv
**/__pycache__
.pytest_cache
.ruff_cache
tests
docs
hack
charts
images/singleuser/theme-sync/node_modules
images/singleuser/theme-sync/lib
images/singleuser/theme-sync/labextension
images/singleuser/theme-sync/test-build
